.hero-section {
    height: 140vh;
    position: relative;

}

.carousel-item {
    height: 120vh;
    background-size: cover;
    background-position: center;
}

.carousel-overlay {
    height: 100%;
}



.hero-section .container {
    z-index: 2;
}

/* text styles */
.hero-subtitle {
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 64px;
    font-weight: 500;
}

.hero-title span {
    font-style: italic;
    font-weight: 400;
}

.hero-desc {
    max-width: 600px;
    margin: 20px auto 0;
    font-size: 15px;
    opacity: 0.9;
}

.shop-btn {
    background: white;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.shop-btn:hover {
    background: #224229;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}