.newsletter {
    padding: 80px 0;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    font-size: 25px;
    color: #243c4f;
    margin-bottom: 20px;
}

.newsletter .content p{
    font-size: 10px;
    opacity: 50;
    color: grey; 
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #000000;
}

.newsletter .content .btn {
    min-height: 50px;
    min-width: 150px;
    border-radius: 10;
    background: #0a0a0a;
    color: #fff;
    font-weight: 300;
}


/* Mobile Responsive Styles */
@media (max-width: 991px) {

        .newsletter .content .btn{
            min-height: 30px;
            min-width: 60px;
        }


}