.policy-section {
  background: #ffffff;
  padding: 90px 60px;
}

/* HEADING */
.plant-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 600;
  color: #2b2b2b;
  line-height: 1.2;
}

.plant-title span {
  font-style: italic;
  font-weight: 400;
}

.plant-desc {
  color: #6b6b6b;
  max-width: 500px;
  margin: 20px 0 30px;
}

/* FEATURE BOX */
.feature-box {
  background: #fff;
  padding: 18px 22px;
  border-radius: 10px;
  margin-bottom: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 16px;
}

.feature-box h5 {
  margin: 0;
  font-size: 18px;
}

.feature-box p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

/* RIGHT IMAGE AREA */
.right-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

/* RINGS (BEHIND) */
.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.ring-1 {
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: 99;
  animation: ringFloat 9s ease-in-out infinite;
}

.ring-2 {
  top: 22px;
  left: 22px;
  opacity: 0.45;
  z-index: 99;
  animation: ringFloat 11s ease-in-out infinite;
}

@keyframes ringFloat {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: scale(1.03) rotate(2deg);
  }

  50% {
    transform: scale(1.05) rotate(0deg);
  }

  75% {
    transform: scale(1.03) rotate(-2deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}


/* PLANT IMAGE (ON TOP & BIGGER) */
.plant-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 88%;
  /* INCREASED SIZE */
  z-index: 1;
  filter: drop-shadow(0 25px 45px rgba(0, 0, 0, 0.2));
} 