

/* Section bg */
.shop-section {
  background: #ffffff;
}

/* Heading */
.shop-heading {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: #777;
}

.shop-heading .active {
  color: #000;
}

.shop-heading em {
  font-style: italic;
}

.shop-heading .slash {
  margin: 0 14px;
}

/* Card */
.product-card {
  text-align: center;
}

/* Image box */
.product-img {
  position: relative;
  background: #e6e6e6;
  padding: 25px;
}

.product-img img {
  width: 100%;
}

/* Sale tag */
.sale {
  position: absolute;
  top: 12px;
  left: 12px;
  background: red;
  color: #fff;
  font-size: 11px;
  padding: 3px 7px;
}

/* Info */
.product-info {
  position: relative;
  margin-top: 15px;
  text-align: left;   /* THIS IS KEY */
}


.stars {
  color: #bbb;
  font-size: 12px;
}

.product-info h6 {
  font-size: 14px;
  margin: 6px 0;
}

.price {
  font-size: 13px;
}

.price del {
  color: #999;
  margin-right: 6px;
}

.price span {
  color: red;
}

/* Color dots */
.colors {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-top: 6px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.dot.black { background: #000; }
.dot.white { background: #fff; }
.dot.skin {background: #cc9da5;}
.dot.red {background: red;}
.dot.grey {background: grey;}

/* View more */
.view-btn {
  background: transparent;
  border: 1px solid #000;
  padding: 10px 28px;
  border-radius: 30px;
  font-size: 14px;
}
