.policy-section {
  background: #ffffff;
  padding: 90px 60px;
}

/* Heading */
.plant-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 600;
  color: #2b2b2b;
}

.plant-title span {
  font-style: italic;
  font-weight: 400;
}

.plant-desc {
  color: #6b6b6b;
  font: optional;
  max-width: 500px;
  margin: 20px 0 30px;
}

/* Feature Cards */
.feature-box {
  background: #fff;
  padding: 18px 22px;
  border-radius: 10px;
  margin-bottom: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
 


.feature-box h5 {
  margin: 0;
  font-size: 18px;
}

.feature-box p {
  margin: 0;
  font-size: 14px;
  color: #777;
}
 /* Right side image div */
.right-img {
  position: relative;
  width: 500px;
  height: 500px;
}

/* Plant Image */
.plant-img {
  max-height: 520px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Lower value = behind */
}


.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* Higher value = in front */
}   